<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.price %></td>
        <td><%= item.title %></td>
        <td><%= item.body %></td>
        <td><%= item.image %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if item.in_cart? %>
            Added to cart <%= link_to 'Remove from cart', item_unadd_path(item), method: :post %>
          <% else %>
            <%= link_to 'Add to cart', item_add_path(item), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %><br><br>
<%= link_to cart_index_path do %>
  Cart (<%= @cart.items.count %>)
<% end %>
